html
	head
		script(src="https://code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous")
		title Add message
	body
		include nav.pug

		h2 #{text}
		

		form(id="messagesForm" method="POST", action="/inputMessages")
			h1 Add a blog Post 
			hr
			br
			label(id='namelabel') Your username: 
			br
			p#setUser #{username}
			hr 
			br
			label(id='namelabel') Title:
			input(id='title' type="text" name='title' placeholder='Title')
			hr
			br
			label(id='namelabel') Message:
			textarea(id="message" type="text" name="message" placeholder="Message")
			hr
			br
			input(id='submitelement' type="submit" value="submit")
		





		style.
			@import "http://fonts.googleapis.com/css?family=Ubuntu";
			h1 {
			font-family:'Ubuntu',sans-serif;
			text-align:center;
			}

			h2, h4{
			font-family:'Ubuntu',sans-serif;
			text-align:center;
			}
			
			form#messagesForm, #submitelement{
			box-sizing: border-box;
			width: 800px;
			height:auto;
			margin:0 auto;
			font-family:'Ubuntu',sans-serif;
			text-align:center;
			border:1px solid #ccc;
			padding:0 50px 15px;
			box-shadow:0 0 15px;
			border-radius:6px;
			margin-top: 40px;
			}

			#messagesForm h3{
			margin-top:40px
			}

			
			hr{
			margin-top:-5px
			}

			label{
			float:left;
			font-size:16px
			}

			p#setUser{
			width:96%;
			margin-top:10px;
			height:auto;
			margin-bottom:25px;
			padding:10px;
			border:3px solid #2BC1F2;
			text-align: left;
			}

			input{
			width:100%;
			margin-top:10px;
			height:35px;
			margin-bottom:25px;
			padding:10px;
			border:3px solid #2BC1F2;
			}

			textarea{
			width:100%;
			border:3px solid #2BC1F2;
			padding:10px;
			margin-bottom:25px;
			margin-top:10px;
			height:100px;
			resize:none
			}

			#submitelement{
			width:100%;
			padding:10px 45px;
			background-color:#2BC1F2;
			border:none;
			color:#fff;
			font-size:18px;
			font-weight:700;
			cursor:pointer;
			font-family:'Ubuntu',sans-serif
			}