html
	head
	body
		include nav
		h1 Blogg Application

		img(src="./images/homepage2.jpeg")
		//- img#0(src="images/cat1_thumb.jpg")




	style.
			@import "http://fonts.googleapis.com/css?family=Ubuntu";
			h1 {
			font-family:'Ubuntu',sans-serif;
			text-align:center;
			font-size: 40px;
			}