html
	head
		script(src="https://code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous")
		title Login
	body
		include nav.pug
		h2 #{text}
		h4 Not yet signed up? Click #[a(href='signup') here] to sign up
		
		form(id="loginForm" method="POST", action="/loginroute")
			h1 Login
			hr
			br
			label(id='namelabel') Username:
			input(id='username' type="text" name='username' placeholder='username', required)
			hr 
			br
			label(id='namelabel') Password:
			input(id='password' type="password" name='password' placeholder='password', required)
			hr
			br
			input(id='submitelement' type="submit" value="submit")
		

		style.
			@import "http://fonts.googleapis.com/css?family=Ubuntu";
			h1 {
			font-family:'Ubuntu',sans-serif;
			text-align:center;
			}

			h2, h4 {
			font-family:'Ubuntu',sans-serif;
			text-align:center;
			}

			form#loginForm, #submitelement{
			box-sizing: border-box;
			width: 800px;
			height:auto;
			margin:0 auto;
			font-family:'Ubuntu',sans-serif;
			text-align:center;
			border:1px solid #ccc;
			padding:0 50px 15px;
			box-shadow:0 0 15px;
			border-radius:6px;
			margin-top: 40px;
			}

			#loginForm h3{
			margin-top:40px
			}

			
			hr{
			margin-top:-5px
			}

			label{
			float:left;
			font-size:16px
			}

			input{
			width:100%;
			margin-top:10px;
			height:35px;
			margin-bottom:25px;
			padding:10px;
			border:3px solid #2BC1F2;
			}


			#submitelement{
			width:100%;
			padding:10px 45px;
			background-color:#2BC1F2;
			border:none;
			color:#fff;
			font-size:18px;
			font-weight:700;
			cursor:pointer;
			font-family:'Ubuntu',sans-serif
			}