nav
	
	if(username)
		ul.navul
			li.navli
				a(href='/') Home
			li.navli
				a(href='profile') Profile
			li.navli
				a(href='addMessage') Add message
			li.navli
				a(href='allMessages') All messages
			li.navli#FLOATRIGHT
				a(href='logout') Logout	
			

	else
		ul.navul
			li.navli
				a(href='/') Home
			li.navli#FLOATRIGHT
				a(href='login') Login
			li.navli#FLOATRIGHT
				a(href='signup') Sign up


if(username)
	h4#loggedIN Logged in as: #{username}


style.
	@import "http://fonts.googleapis.com/css?family=Ubuntu";

	ul.navul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #2BC1F2;
	}

	li.navli{
	float: left;
	}

	li.navli a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-right: 1px solid black;
	font-family:'Ubuntu',sans-serif;
	text-align:center;
	
	}

	/* Change the link color to #111 (black) on hover */
	li.navli a:hover {
	background-color: beige;
	}

	#FLOATRIGHT{
	float: right;
	border-left: 1px solid black;
	border-right: 0px;
	}

	#loggedIN{
	text-align: right;
	font-style: italic;
	margin-right: 20px;
	font-weight: normal;
	}
	
	
	

	