html
	head
		title Profile
	body
		include nav
		h1 Profile of #{username}


		h2 


	style.
			@import "http://fonts.googleapis.com/css?family=Ubuntu";
			h1 {
			font-family:'Ubuntu',sans-serif;
			text-align:center;
			font-size: 40px;
			}



